#passport-wrap {
    margin: 30px auto 0;
    width: 55%;
}

#passport-wrap ul {
    border: 1px solid #337ab7;
    border-bottom: none;
    border-radius: 4px;
}

#passport-wrap ul li {
    border-bottom: 1px solid #337ab7;
    border-radius: 4px;
}

#bind-wrap {
    margin: 30px auto 0;
    padding: 45px 15px 15px;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    width: 50%;
}

.clear_margin {
    margin: 0;
}

.mb15 {
    margin-bottom: 15px;
}

.mt10 {
    margin-top: 10px;
}

.color_red {
    color: red;
}

.text_center {
    text-align: center;
}

.global-alert {
    margin-bottom: 0;
    text-align: center;
}

/*贴子列表 start*/
.topic_sort .active {
    color: #000;
}

.topic_list {
    padding-left: 0;
    margin-bottom: 0;
}

.topic {
    height: 63px;
    border-bottom: 1px solid #d0e9c6;
    padding: 10px;
}

.avatar {
    display: block;
}

.other {
    width: 42px;
    height: 42px;
}

/*贴子列表 end*/

/*创建贴子 start*/
#topic_title_remain {
    font-weight: 700;
    font-style: italic;
}

/*创建贴子 end*/
#login_reply_btn {
    position: relative;
    top: -222px;
    left: 15px;
}


